<main class="mainDash">
    <header class="headerDash">
        <p class="titlePage">Painel de Controle</p>
        <input type="search" name="search" id="" class="searchBar" placeholder="Pesquise aqui...">
        <article class="profileCont">
            <img src="/assets/icons/arrowPfp.svg" class="arrow" alt="" srcset="">
            <p class="profileContTitle">
                Rafael Souza
            </p>
            <img src="/assets/img/pfp/pfp1.png" alt="" class="pfp" srcset="">
        </article>
    </header>
    <section class="cardsDashboard">
        <figure class="cardBigDashboard">
            <section class="textBigCardDashboard">
                <p class="titleCard">
                    Reservas em Andamento
                </p>
                <p class="subtitleCard">
                    <span id="onGoing"></span>
                </p>
            </section>
            <section class="iconBigCardDashboard">
                <img src="/assets/icons/OnGoingIcon.svg" alt="" srcset="">
            </section>
        </figure>
        <section class="subCardsDashboard">
            <figure class="cardSmallDashboard">
                <section class="textSmallCardDashboard">
                    <p class="titleCardSmall">
                        Lista de Espera
                    </p>
                    <p class="subtitleCard">
                        <span id="waiting"></span>
                    </p>
                </section>
                <section class="iconSmallCardDashboard">
                    <img src="/assets/icons/waitingIcon.svg" alt="" srcset="">
                </section>
            </figure>
            <figure class="cardSmallDashboard csd2">
                <section class="textSmallCardDashboard">
                    <p class="titleCardSmall">
                        Check-out's
                    </p>
                    <p class="subtitleCard">
                        <span id="finished"></span>
                    </p>
                </section>
                <section class="iconSmallCardDashboard">
                    <img src="/assets/icons/DoneIcon.svg" alt="" srcset="">
                </section>
            </figure>
        </section>
        <figure class="notificationContainerDashboard">

        </figure>
    </section>
    <section class="lastChanges">
        <header class="headLastChanges">
            <p class="titlePage">
                Últimas Mudanças
            </p>

            <section class="buttonsLastChanges">
                <button class="addBtn btn" id="addBtn">Adicionar</button>
                <a href="/history"><button class="seeAllBtn btn" >Ver tudo</button></a>
                
            </section>
        </header>
        <main class="listLastChanges">
            <figure class="table">
                <article class="itemTb">
                    <p class="titleColumn">
                        Acomodação
                    </p>
                    <p class="titleColumn">
                        Nome do Hópede
                    </p>
                    <p class="titleColumn">
                        Data de Entrada
                    </p>
                    <p class="titleColumn">
                        Data de Saída
                    </p>
                    <p class="titleColumn">
                        Status da reserva
                    </p>
                    <p class="titleColumn">
                        ID
                    </p>
                </article>
                <hr style="margin-top: 10px;">
            </figure>
            {{#each reservas}}
            <figure class="table">
                <article class="itemTb">
                    <p class="titleItem">
                        {{this.nome_acomodacao}}
                    </p>
                    <p class="titleItem">
                        {{this.nome_hospede}}
                    </p>
                    <p class="titleItem">
                        {{this.data_entrada}}
                    </p>
                    <p class="titleItem">
                        {{this.data_saida}}
                    </p>
                        <input type="button" value="{{this.status_reserva}}" id="statusReserva" class="titleItem statusReserva">
                    <p class="titleItem">
                        {{this.id}}
                    </p>
                </article>
            </figure>
            {{/each}}
        </main>
    </section>
</main>

